In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = '/content/drive/MyDrive/imdb_top_1000.csv'

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv(data)

In [ ]:
df.head()

                                         Poster_Link  ...        Gross
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...  ...   28,341,469
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...  134,966,411
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...  534,858,444
3  https://m.media-amazon.com/images/M/MV5BMWMwMG...  ...   57,300,000
4  https://m.media-amazon.com/images/M/MV5BMWU4N2...  ...    4,360,000

[5 rows x 16 columns]

In [ ]:
#Number of null values
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [ ]:
data = df.rename(columns={"Series_Title": "Movies_Title"})

In [ ]:
data.head(3)

                                         Poster_Link  ...        Gross
0  https://m.media-amazon.com/images/M/MV5BMDFkYT...  ...   28,341,469
1  https://m.media-amazon.com/images/M/MV5BM2MyNj...  ...  134,966,411
2  https://m.media-amazon.com/images/M/MV5BMTMxNT...  ...  534,858,444

[3 rows x 16 columns]

In [ ]:
print(df['Gross'].head(1))

0    28,341,469
Name: Gross, dtype: object

In [ ]:
data['Gross'] = df['Gross'].str.replace(',', '')
print(data['Gross'].head())

0     28341469
1    134966411
2    534858444
3     57300000
4      4360000
Name: Gross, dtype: object

In [ ]:
df1 = data['Gross'].astype('float64')
print(df1.head())

0     28341469.0
1    134966411.0
2    534858444.0
3     57300000.0
4      4360000.0
Name: Gross, dtype: float64

In [ ]:
df2 = data['Gross'].replace(np.nan, 0)
print(df2.head())

0     28341469
1    134966411
2    534858444
3     57300000
4      4360000
Name: Gross, dtype: object

In [ ]:
#Finding correlation
df.corr()

             IMDB_Rating  Meta_score  No_of_Votes
IMDB_Rating     1.000000    0.268531     0.494979
Meta_score      0.268531    1.000000    -0.018507
No_of_Votes     0.494979   -0.018507     1.000000